* {
    margin: 0;
    padding: 0;
    box-sizing: boarder-box;
}

/* Style for navigation bar */
nav {
    position: relative;
    background-color: #a4cef3
    padding: 1rem;
}

/* Hamburger button styles */
.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 25px;
    justify-content: space-between;
}

.hamburger .bar {
    height: 4px;
    width: 100%;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

/* Hide navigation bar for mobile phones */
.nav-list {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #a4cef3;
    width: 100%;
    display: none;
    float: column;
    align-items: center;
}

/* Styling navigation links */
.nav-list li {
    margin: 15px 0;
}

.nav-list a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: block;
    text-align: center;
    font-size: 1.2rem;
}

.nav-list a:hover {
    background-color: #d7f5d1;
}

.nav-list.active {
    display: flex;
}

/* show navigation for larger screens */
@media (min-width: 768px) {
    .hamburger {
        display: none;
}

.nav-list {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
}

.nav-list li {
    margin: 0;
}
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    flex: 1 1 48%;
}

/* add style for phones smaller than 768px */
